footer {
  height: 2rem;
  width: 100%;
  text-align: center;
  line-height: 1.25rem;
  padding: 0;

  .footer-container {
    font-size: .875rem;

    .footer-line {
      width: 100%;
      height: 10px;
      background-image: linear-gradient(45deg, rgb(9, 0, 159), rgb(0, 255, 149),  rgb(9, 0, 159));
      background-size: 400%;
      animation: bganimation 12s infinite;
      .icp-br {
        display: none;
      }
    }
  }

  @include blur;
}

@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}